* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(255, 243, 207);
}

header {
  font-family: "Workbench", sans-serif;
  font-size: 60px;
  color: rgb(99, 122, 159);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 243, 207);
}

.front-face,
.back-face {
  height: 100%;
  width: 100%;
  position: absolute;
  /* sets whether the back face of an element is visible when turned towards the user. 
  3d反过来的时候是否可以从正面看到反过去那一面的背部-镜像 */
  backface-visibility: hidden;
}

.front-face {
  background: rgb(99, 122, 159);
  /* show front face  */
  transform: rotateY(180deg);
}

.back-face {
  background: rgb(232, 200, 114);
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(201, 215, 221);
  margin-left: auto;
  margin-right: auto;
}

/* click effect on card, scale down 0.97 of original size */
.card:active {
  transform: scale(0.97);
}

/* flip card effect,rotate y axis after click */
.card.flipCard {
  transform: rotateY(180deg);
}

.cardsLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Barriecito", system-ui;
  /* background-color: red; */
  max-width: 750px;
  margin: 0;
  color: rgb(99, 122, 159);
  font-size: 25px;
}

.container {
  display: none;
  align-content: center;
  justify-content: center;
  margin-bottom: 40px;
  /* background-color: red; */
  max-width: 750px;
  height: auto;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-auto-rows: auto;
  /* create 3d flip effect for child elements */
  perspective: 1000px;
}

.card {
  width: 120px;
  height: 120px;
  background: rgb(232, 200, 114);
  border: 2px solid rgb(255, 243, 207);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* 3d flip effect */
  transform-style: preserve-3d;
  /* flip speed */
  transition: transform 0.7s;
}

/* countdown timer */
#countdown {
  display: none;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 160px;
  background-color: rgb(255, 243, 207);
  z-index: 1;
  margin-left: 100px;
}

#countdown.countdown-show {
  display: flex;
}

#countdown-number {
  color: rgb(236, 86, 10);
  display: inline-block;
  font-size: 24px;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 251.2px;
  }
}

#gameName {
  grid-column: span 2;
  /* text-align: center; */
  justify-items: end;
}

.gameDifficulty {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 250px 290px 100px 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 243, 207);
  justify-content: center;
  align-items: center;
}

.gameDifficulty > button {
  background: linear-gradient(
    to bottom right,
    rgb(255, 173, 132),
    rgb(255, 227, 130)
  );
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Barriecito", system-ui;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  place-self: center;
  width: 200px;
}

.gameDifficulty > button:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}
.gameDifficulty > button:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.gameModeChoice {
  color: rgb(255, 196, 126);
  font-size: 40px;
  font-family: "Workbench", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameDifficulty.hide {
  display: none;
}

/* winning message showing case, hidden firs */
.message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(171, 196, 170, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 90px;
  flex-direction: column;
  font-family: "Barriecito", system-ui;
}

/* change display to "show" to show message */
.message.msgShow {
  display: flex;
}

.restart {
  font-size: 40px;
  margin-top: 20px;
  border-radius: 12px;
  font-family: "Barriecito", system-ui;
  color: rgb(79, 111, 82);
}

.restart:hover {
  background-color: rgb(103, 93, 80);
  color: white;
}

svg {
  transform: rotateY(-180deg) rotateZ(-90deg);
  position: absolute;
  width: 160px;
  height: 160px;
}

svg circle {
  stroke-dasharray: 251.2px;
  stroke-width: 4px;
  stroke: rgb(236, 86, 10);
  fill: none;
  display: none;
}

.welcomeMsg {
  color: rgb(255, 185, 150);
  font-size: 50px;
  font-family: "Workbench", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* when screen size is 768px and above, display 2 column, 3 rows */
/* @media only screen and (min-width: 760px) {
  body {
    width: 650px;
  }
} */

/* @media only screen and (max-width: 480px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
} */

.gamePage {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
