* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  font-family: "Workbench", sans-serif;
  font-size: 60px;
  color: rgb(99, 122, 159);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  padding-top: 80px;
  background-color: rgb(255, 243, 207);
  justify-items: center;
  align-items: center;
}

#gameName {
  grid-column: span 2;
  text-align: center;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  /* center container element */
  align-content: center;
  justify-content: center;
  background-color: rgb(255, 243, 207);

  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;

  /* create 3d flip effect for child elements */
  perspective: 1000px;
}

.card {
  width: 150px;
  height: 150px;
  background: rgb(232, 200, 114);
  border: 2px solid rgb(255, 243, 207);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* 3d flip effect */
  transform-style: preserve-3d;
  /* flip speed */
  transition: transform 0.7s;
}

/* click effect on card, scale down 0.97 of original size */
.card:active {
  transform: scale(0.97);
}

/* flip card effect,rotate y axis after click */
.card.flipCard {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  height: 100%;
  width: 100%;
  position: absolute;
  /* sets whether the back face of an element is visible when turned towards the user. 3d反过来的时候是否可以从正面看到反过去那一面的背部-镜像 */
  backface-visibility: hidden;
}

.front-face {
  background: rgb(99, 122, 159);
  /* show front face  */
  transform: rotateY(180deg);
}

.back-face {
  background: rgb(232, 200, 114);
}

/* winning message showing case, hidden firs */
.message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(171, 196, 170, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 90px;
  flex-direction: column;
  font-family: "Protest Riot", sans-serif;
}

/* change display to "show" to show message */
.message.msgShow {
  display: flex;
}

/* countdown timer */
#countdown {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 160px;
  width: 160px;
  background-color: rgb(255, 243, 207);
  z-index: 1;
}

#countdown-number {
  color: rgb(99, 122, 159);
  display: inline-block;
  font-size: 24px;
}

svg {
  transform: rotateY(-180deg) rotateZ(-90deg);
  position: absolute;
  width: 160px;
  height: 160px;
}

svg circle {
  stroke-dasharray: 251.2px;
  stroke-width: 4px;
  stroke: rgb(99, 122, 159);
  fill: none;
  animation: countdown 120s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}
