* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(255, 243, 207);
}

.front-face,
.back-face {
  height: 100%;
  width: 100%;
  position: absolute;
  /* sets whether the back face of an element is visible when turned towards the user. */
  backface-visibility: hidden;
  border-radius: 10px;
}

.front-face {
  background: rgb(99, 122, 159);
  /* show front face  */
  transform: rotateY(180deg);
}

.back-face {
  background: rgb(232, 200, 114);
}

.board {
  background-color: rgb(201, 215, 221);
  margin-left: 20px;
  margin-bottom: 40px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
  max-width: 350px;
}

.cardsLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Barriecito", system-ui;
  max-width: 750px;
  margin: 0;
  color: rgb(99, 122, 159);
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-bottom: 40px;
  /* create 3d flip effect for child elements */
  perspective: 1000px;
  gap: 3px;
}

.card {
  width: 80px;
  height: 100px;
  background: rgb(232, 200, 114);
  border: 2px solid rgb(255, 243, 207);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* 3d flip effect */
  transform-style: preserve-3d;
  /* flip speed */
  transition: transform 0.7s;
  /* horizontal,vertical,blur,spread */
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

/* flip card effect,rotate y axis after click */
.card.flipCard {
  transform: rotateY(180deg);
}

/* countdown timer */
#countdown {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-left: 100px;
}

#countdown.countdown-show {
  display: flex;
}

#countdown-number {
  color: rgb(79, 111, 82);
  display: inline-block;
  font-size: 24px;
  position: absolute;
  font-family: "Workbench", sans-serif;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 251.2px;
  }
}

#gameName {
  font-family: "Workbench", sans-serif;
  font-size: 38px;
  color: rgb(99, 122, 159);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.gameDifficulty {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 240px 190px 80px 80px 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 243, 207);
  justify-content: center;
  align-items: center;
}

.gameDifficulty > button {
  background: linear-gradient(
    to bottom right,
    rgb(135, 196, 255),
    rgb(255, 227, 130)
  );
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Barriecito", system-ui;
  font-size: 3vw;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  place-self: center;
  width: 30vw;
}

.gameDifficulty > button:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(71, 107, 239, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}
.gameDifficulty > button:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(71, 107, 239, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.gameModeChoice {
  color: rgb(180, 189, 255);
  font-size: 9vw;
  font-family: "Workbench", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameDifficulty.hide {
  display: none;
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 243, 207);
}

/* winning message showing case, hidden first */
.message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(171, 196, 170, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 90px;
  flex-direction: column;
  font-family: "Barriecito", system-ui;
  text-align: center;
}

/* change display to "show" to show message */
.message.msgShow {
  display: flex;
}

.restart {
  font-size: 40px;
  margin-top: 20px;
  border-radius: 12px;
  font-family: "Barriecito", system-ui;
  color: rgb(79, 111, 82);
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
  border-color: #ffffff;
}

.restart:hover {
  background-color: rgb(103, 93, 80);
  color: white;
}

svg {
  /* flipping the element vertically->full circle, rotating it 90d clockwise empty-countdown effect*/
  transform: rotateY(-180deg) rotateZ(-90deg);
  position: relative;
  width: 160px;
  height: 160px;
}

svg circle {
  stroke-dasharray: 251.2px;
  stroke-width: 4px;
  stroke: rgb(79, 111, 82);
  fill: none;
  display: none;
  /* Add a shadow to create depth */
  filter: drop-shadow(2px 2px 4px rgba(79, 111, 82, 0.5));
}

.timeSpend {
  font-size: 70px;
}

.welcomeMsg {
  color: rgb(173, 162, 255);
  font-size: 12vw;
  font-family: "Workbench", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gamePage {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

/* when screen size is 560px and above */
@media only screen and (min-width: 560px) {
  .board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  .container {
    display: grid;
    gap: 0.3em;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .card {
    width: 120px;
    height: 120px;
    border-radius: 10px;
  }

  #gameName {
    font-size: 70px;
  }
}
